<div ng-include="'partials/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Own courses - {{username}}</h1>
        <div class="row">
          <div class="col-md-12 text-right" ng-show="currentUserIsSelf">
            <a class="btn btn-success" id="userProjects_createCourse" href="/courses/new">Create new course</a>
          </div>
        </div>
      </div>
      <div class="row mb-4" ng-show="courseOwnerSet.length >= 1">
        <div class="col-md-8"></div>
        <div class="col-md-4 text-right">
          <div style="display: flex; justify-content: flex-end; align-items: center; gap: 5px;">
            <input type="text" class="form-control" placeholder="Filter by name/id of course" ng-model="searchTxt" ng-change="filter('input')">
            <div class="dropdown">
              <a class="btn btn-default btn-sm dropdown-toggle" style="height: 34px; line-height: 25px;" data-toggle="dropdown" role="button">
                <span class="glyphicon glyphicon-option-horizontal" style="padding: auto"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a ng-click="filter('createdAt')">Filter by createdAt</a></li>
                <li><a ng-click="filter('name')">Filter by name</a></li>
                <li role="separator" class="divider"></li>
                <li><a ng-click="filter('reset')"><b>Reset filter</b></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <h4 ng-show="!courseOwnerSet.length >= 1">No courses found!</h4>

      <div class="panel panel-default" ng-repeat="course in filteredCourses">
        <div class="panel-heading" style="background-color: #fdd835">
          <h3 class="panel-title"><b>{{course.id}} - {{course.coursename}}</b></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3">
              <label>Description</label>
              <p style="white-space: pre-line;">{{course.description}}</p>
            </div>
            <div class="col-md-3">
              <label>Created</label>
              <p>{{course.createdAt | date}}</p>
            </div>
            <div class="col-md-3">
              <label>Context ID (Moodle ID)</label>
              <p style="white-space: pre-line;">{{course.contextId}}</p>
            </div>
            <div class="col-md-3">
              <div class="btn-group pull-right" role="group" ng-show="currentUserIsSelf">
                <label>Actions</label>
                <p>
                  <a href="/courses/{{course.id}}/settings" role="button" class="btn btn-default" title="Edit project settings"><span class="glyphicon glyphicon-wrench"></span></a>
                  <a href="/users/{{username}}/courses/{{course.id}}/projects" role="button" class="btn btn-default" title="View projects assigned to this course"><span class="glyphicon glyphicon-folder-open"></span></a>
                  <a href="/courses/{{course.id}}/userprojects" role="button" class="btn btn-default" title="Show course user projects"><span class="glyphicon glyphicon-duplicate"></span></a>
                  <a href="/courses/{{course.id}}/submissions" role="button" class="btn btn-default" title="Show course submissions"><span class="glyphicon glyphicon-education"></span></a>
                  <a href="/courses/{{course.id}}/helprequests" role="button" class="btn btn-default" title="Show course help requests"><span class="glyphicon glyphicon-comment"></span></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- end of container -->
