<div ng-include="'partials/navbar.html'"></div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Own projects - {{user.username}}</h1>
        <div class="row">
          <div class="col-md-12 text-right" ng-show="currentUserIsSelf">
            <a class="btn btn-success" id="userProjects_createProject" href="/projects/new">Create new project</a>
          </div>
        </div>
      </div>
      <div class="row mb-4" ng-show="ownerSet.length >= 1">
        <div class="col-md-8"></div>
        <div class="col-md-4 text-right" ng-show="currentUserIsSelf">
          <div style="display: flex; justify-content: flex-end; align-items: center; gap: 5px;">
            <input type="text" class="form-control" placeholder="Filter by name/id of project" ng-model="searchTxt" ng-change="filter('input')">
            <div class="dropdown">
              <a class="btn btn-default btn-sm dropdown-toggle" style="height: 34px; line-height: 25px;" data-toggle="dropdown" role="button">
                <span class="glyphicon glyphicon-option-horizontal" style="padding: auto"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a ng-click="filter('createdAt')">Filter by createdAt</a></li>
                <li><a ng-click="filter('name')">Filter by name</a></li>
                <li role="separator" class="divider"></li>
                <li><a ng-click="filter('reset')"><b>Reset filter</b></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <h4 ng-show="!ownerSet.length">No projects found!</h4>
      <div class="panel panel-default" ng-repeat="prj in filteredProjects">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-6">
              <h3 class="panel-title"><b>{{prj.id}} - <a ng-href="/projects/{{prj.id}}/summary"> {{prj.projectname}}</a></b><span class="glyphicon glyphicon-eye-close ml-4" ng-show="prj.isPrivate" title="Project is private"></span></h3>
            </div>
            <div class="col-md-6 text-right">
              <a class="btn btn-default mr-2" href="/projects/{{prj.id}}" role="button">Open in IDE</a>
              <button id="btn-{{prj.id}}" class="btn" style="background-color: #0064A5; color: white" role="button" ng-click="shareProject(prj.id)" title="https://codeboard.sml.zhaw.ch/projects/{{prj.id}}">Share</button>
            </div>
          </div>  
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3">
              <label>Description</label>
              <p style="white-space: pre-line;">{{prj.description}}</p>
            </div>
            <div class="col-md-2">
              <label>Language</label>
              <p>{{prj.language}}</p>
            </div>
            <div class="col-md-2">
              <label>Created</label>
              <p>{{prj.createdAt | date}}</p>
            </div>
            <div class="col-md-2">
              <label>Owners</label>
              <p>
                <span ng-repeat="owner in prj.ownerSet"><a href="/users/{{owner.username}}">{{owner.username}}</a> </span>
              </p>
            </div>
            <div class="col-md-3" ng-show="currentUserIsSelf">
              <label>Actions</label>
                <p>
                  <a href="/projects/{{prj.id}}/settings" role="button" class="btn btn-default" title="Edit project settings"><span class="glyphicon glyphicon-wrench"></span></a>
                  <a href="/projects/{{prj.id}}/userprojects" role="button" class="btn btn-default" title="Show user versions of project"><span class="glyphicon glyphicon-duplicate"></span></a>
                  <a href="/projects/{{prj.id}}/submissions" role="button" class="btn btn-default" title="Show project submissions"><span class="glyphicon glyphicon-education"></span></a>
                  <a href="/projects/{{prj.id}}/helprequests" role="button" class="btn btn-default" title="Show project help requests"><span class="glyphicon glyphicon-comment"></span></a>
                  <a href="/projects/{{prj.id}}/stats" role="button" class="btn btn-default" title="Show project statistics"><span class="glyphicon glyphicon-stats"></span></a>
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="userSet.length > 0">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Assigned projects</h1>
        You are assigned as a user to the following projects:
      </div>


      <div class="panel panel-default" ng-repeat="prj in userSet">
        <div class="panel-heading">
          <h3 class="panel-title"><a ng-href="/projects/{{prj.id}}/summary">{{prj.projectname}}</a></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3">
              <label>Description</label>
              <p style="white-space: pre-line;">{{prj.description}}</p>
            </div>
            <div class="col-md-2">
              <label>Language</label>
              <p>{{prj.language}}</p>
            </div>
            <div class="col-md-2">
              <label>Created</label>
              <p>{{prj.createdAt | date}}</p>
            </div>
            <!-- <div class="col-md-2">
              <label>Owners</label>
              <p>
                <span ng-repeat="owner in prj.ownerSet"><a href="/users/{{owner.username}}">{{owner.username}}</a> </span>
              </p>
            </div> -->
            <!-- <div class="col-md-3" ng-show="currentUserIsSelf">
              <label>Actions</label>
                <p>
                  <a href="/projects/{{prj.id}}/settings" role="button" class="btn btn-default" title="Edit project settings"><span class="glyphicon glyphicon-wrench"></span></a>
                  <a href="/projects/{{prj.id}}/userprojects" role="button" class="btn btn-default" title="Show user versions of project"><span class="glyphicon glyphicon-duplicate"></span></a>
                  <a href="/projects/{{prj.id}}/submissions" role="button" class="btn btn-default" title="Show project submissions"><span class="glyphicon glyphicon-education"></span></a>
                  <a href="/projects/{{prj.id}}/helprequests" role="button" class="btn btn-default" title="Show project help requests"><span class="glyphicon glyphicon-comment"></span></a>
                  <a href="/projects/{{prj.id}}/stats" role="button" class="btn btn-default" title="Show project statistics"><span class="glyphicon glyphicon-stats"></span></a>
                </p>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- end of container -->
