<div class="navbar-border" ng-include="'partials/navbar.html'"></div>

<div class="container">
  <div class="row">

    <div class="col-md-8 col-md-offset-2 my-4">

      <h3>Einstellungen für <a ng-href="/courses/{{courseId}}/summary">Kurs {{courseId}}</a></h3>

      <div ng-show="server.saveSuccess" class="alert alert-success" role="alert">
        <strong>Changes saved!</strong> Your changes have been saved successfully.
      </div>
      <div ng-show="server.saveFailure" class="alert alert-danger" role="alert">
        <strong>Changes not saved!</strong> Problem while saving your changes. Check your data and try again.
      </div>

      <div class="card card">
        <div class="card-header">
          <h6 class="card-title m-0">Kurseinstellungen ändern</h6>
        </div>

        <form role="form" name="form" ng-submit="save(form)">
          <div class="card-body">

            <div class="form-group">
              <label for="coursename">Course name</label>
              <input type="text" class="form-control" id="coursename" ng-model="data.coursename" required>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" id="description" rows="3" ng-model="data.description"></textarea>
            </div>

            <div class="form-group">
              <label for="contextId">Moodle Kurs ID (optional)</label>
              <input type="number" class="form-control" id="contextId" ng-model="data.contextId">
            </div>

          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Änderungen speichern</button>
            <button type="button" class="btn btn-default" ng-click="discardChanges()">Änderungen verwerfen</button>
            <button type="button" class="btn btn-danger float-right" ng-click="openDeletionModal()">Kurs löschen</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- the following is for the deletion modal -->
  <div>
    <script type="text/ng-template" id="DeletionModalContent.html">
      <div class="modal-header">
        <h3 class="modal-title">Kurs löschen</h3>
      </div>
      <div class="modal-body">
        <p class="lead">
          Do you really want to delete this course?<br>
          Deletion can not be undone.
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" ng-click="ok()">Kurs löschen</button>
        <button class="btn btn-default" ng-click="cancel()">Abbrechen</button>
      </div>
    </script>
  </div>
</div>


