<div class="tab-body ide-tab-help ide-tab-chat" ng-controller="ideNavBarRightHintCtrl" id="chat-wrapper">
  <h1 class="modal-title">Hier findest du Hilfe zur Aufgabe</h1>

  <div class="conversation">
    <chat chat-lines="newestHintChatLines" class="px-4">
      <before-chat>
        <li class="clear chat-line my-4 clearfix text">
          <chat-line author="Roby" avatar-size="" alignment="left" avatar="avatarStyle">
            <chat-line-simple>
              <p ng-class="{'mb-0': remainingHints === 0}">{{hintInfoChatBoxTxt}}</p>
              <p class="mb-0" ng-if="remainingHints > 0">
                Du hast aktuell noch <strong> {{remainingHints}} Tipps </strong>zur Verfügung.
              </p>
            </chat-line-simple>
          </chat-line>
        </li>
        <!-- User Actions -->
        <div class="text-center">
          <button ng-disabled="disableHintBtn || !currentRoleIsUser()" class="btn btn-success" ng-click="askForTip()">
            <span ng-if="!hintIsLoading" class="glyphicon glyphicon-info-sign"></span>
            <span ng-if="hintIsLoading" class="glyphicon glyphicon-search"></span>
            {{hintBtnTxt}}
          </button>
        </div>
        <hr class="chat-horizontal-line" />
      </before-chat>
    </chat>
  </div>
  <!-- older chatboxes only displayed if needed -->
  <div ng-if="oldChatBoxes">
    <hr class="chat-horizontal-line" />
    <h2 class="modal-title">Ältere Tipps</h2>
    <div class="text-center">
      <button ng-show="!hideShowMore" class="btn btn-info" ng-click="showMore()">Tipps laden</button>
    </div>
    <div ng-show="displayOldChatBoxes" class="conversation">
      <chat chat-lines="oldHintChatLines" class="px-4" cursor-position="cursorPosition"> </chat>
    </div>
    <div id="scroll-target-code-review"></div>
    <div id="targetinto" style="height: 1px; width: 100%"></div>
  </div>
</div>

<!-- THe Modal Window, when there is no relevant tip -->
<script type="text/ng-template" id="noRelevantTipModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Helpersystem - Tipps</h3>
  </div>
  <div class="modal-body">
    <p class="">Es wurde kein relevanter Tipp für deine aktuelle Lösung gefunden!</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-info" ng-click="cancel()">Schliessen</button>
  </div>
</script>
